{{ define "main" }}
<section class="section container-fluid mt-n3 pb-3">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h1 class="mt-0">{{ .Title }}</h1>
    </div>
    <div class="col-lg-9 col-xl-8 text-center">
      <p class="lead">{{ .Params.lead | safeHTML }}</p>
      <a class="btn btn-primary btn-lg px-4 mb-2" href="{{ "docs/prologue/0/" | relURL }}" role="button">さあ始めましょう！</a>
      <p class="meta">Open-source MIT Licensed. <a href="https://github.com/h-enk/doks">GitHub v{{
          .Site.Data.doks.version }}</a></p>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-prefooter" }}
<section class="section section-sm">
  <div class="row justify-content-center">
    <div class="col-lg-12 text-center">
      <h2 class="mt-0">ロジバンとは？</h2>
    </div>
  </div>
    <div class="container">
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">計画的に作られた言語 🏗</h2>
        <p>ロジバンは人が話すことに使えるように、計画的に作られた言語です。1987年に公表され、2000年代前半から実用的な使用に耐えることができるようになりました。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">文化的に中立 ⚖️</h2>
        <p>ロジバンは文化的相違や性別に関してできるだけ中立になるように配慮されています。例えば、多くの語彙は、偏見がないように、複数の自然言語から話者数に応じた重みによって生成されます。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">思考の制限を取り除く 🧠</h2>
        <p>ロジバンは人間の思考に対するいくつかの制限を取り除くことを試みるために作られました。自然言語の贅肉を取り払った簡潔な表現が可能です。</p>
      </div>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-lg-5">
        <h2 class="h4">規則的で非曖昧で柔軟な文法 🤖</h2>
        <p>ロジバンの文法はとても規則的です。構文はコンピュータが認識できるほどに非曖昧です。それでいて敢えて曖昧な表現をすることができる柔軟性を持ち合わせています。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">シンプルな感情表現 💕</h2>
        <p>ロジバンには気持ちや態度を表すための特別な言葉が揃っています。これによって絵文字のようにシンプルでかつ感情豊かな表現ができます。</p>
      </div>
      <div class="col-lg-5">
        <h2 class="h4">述語論理を基盤とした言語 📚</h2>
        <p>ロジバンは述語論理を文法の基盤としています。そのため、自然言語では表現が困難であるような複雑な構造を明晰に記述できます。</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

{{ define "sidebar-footer" }}
<section class="section section-sm container-fluid">
  <div class="row justify-content-center text-center">
    <div class="col-lg-9">
      {{- .Content -}}
    </div>
  </div>
</section>
{{ end }}